<div >
  <h2>Customer Details</h2>
  <button mat-raised-button color="primary" (click)="addCustomer()">Add Customer</button>
  <table mat-table [dataSource]="customers" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let customer"> {{customer.code}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Direccion </th>
      <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
    </ng-container> 
    <ng-container matColumnDef="actionEdit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let customer">
        <button mat-raised-button color="accent"
        (click)="editCustomer(customer)">Edit</button>
      </td>
    </ng-container>  
    <ng-container matColumnDef="actionDelete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let customer">
        <button mat-raised-button color="warn"
        (click)="deleteCustomer(customer)">Delete</button>
      </td>
    </ng-container>  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>