<div class="row" style="margin: auto;width: 50%;overflow: auto;">
  <div class="container">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Enter your email"
        type="text"
        formControlName="email"
        id="email"
        required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter your password" 
        [type]="hideInputPassword ? 'password' : 'text'" 
        formControlName="password" 
        id="pwd"
        required>
        <mat-icon matSuffix (click)="hideInputPassword = !hideInputPassword">{{hideInputPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary">Login</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid Credentials.</div>
      </div>
    </form>
  </div>
</div>